<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
</head>

<body>


    <div class="row">
        <!-- 해더영역 -->
        <th:block th:replace="layout/header.html :: headerFG"></th:block>
    </div>    


    <div class="row">
        <!-- 다른html파일에 들어갈 내용 부분 -->
        <th:block layout:fragment="content">
            
        </th:block>
    </div>


    <div class="row" style="margin-top: 100px;">
        <!-- 푸터영역 -->
       <th:block th:replace="layout/footer.html :: footerFG">

       </th:block>
    </div>        
        


    <script src="/bootstrap/js/bootstrap.js"></script>
</body>

</html>