<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
</head>
<body>
    <div class="row">
        <!-- 해더영역 -->
        <th:block th:replace="layout/header.html :: headerFG"></th:block>
    </div>    

    
    <!-- <th:block layout:fragment="content">
        <div class="card">
            <div class="card-body">
                에라잇씨잇팔
                
            </div>
        </div>
    </th:block> -->
    <!-- 다른html파일에 들어갈 내용 부분 -->
    <div class="row" style="margin-top: 70px;">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12" style="margin: 25px;">
                    <!-- 조각불르기 -->
                    <th:block th:replace="ExtractSoft/ExtractSoft :: extractSoft"> 

                    </th:block>
                </div>
                <div class="col-md-12">
                    <!-- 조각불르기 -->
                    베스트추출기록4개정도
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12" style="height: 400px;">
                    <!-- 조각불르기 -->
                    방금추출 정보
                </div>
                <div class="col-md-12">
                    <div class="card" style="margin-right: 80px;">
                        <div class="card-body">
                            <!-- 조각불르기 -->
                            <th:block th:replace="chart/testChart.html :: charsetTest">
                            
                            </th:block>    
                            
                        </div>
                    </div>
                        <!-- 조각불르기 -->
                        <!-- <th:block th:replace="chart/testChart.html :: charsetTest">
                            
                        </th:block> -->
                </div>
            </div>
        </div>
    </div>


    <div class="row" style="margin-top: 100px;">
        <!-- 푸터영역 -->
       <th:block th:replace="layout/footer.html :: footerFG">

       </th:block>
    </div>        
        


    <script src="/bootstrap/js"></script>
</body>

</html>