<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
</head>

<body>
    <th:block th:fragment="extractSoft">
        <div class="card"  style=" width: 80%; height: 250px;">
            <div class="card-body">
                <div>커피추출 머신</div>
            </div>
        </div>    



    </th:block>

   
</body>

</html>